<!doctype html>
<html>
<head>
    <title>Products</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==' crossorigin='anonymous'>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'products/css/style.css' %}" />

</head>
<body>
    <div class='container'>
        <h1>Edit Products</h1>
        <div class='row'>
            <form action="{% url 'update_product' id %}" method="POST" class='col-md-4'>
                {% csrf_token %}
                {% for input in form %}
                <div class='form-group'>
                    {{input.errors}}
                    {{ input.non_field_errors }}
                    <label>{{input.label}}</label>
                    {{input}}
                </div>
                {% endfor %}
                <input type='submit' name='submit' value='Edit product'/>
            </form>
        </div>
    </div>
</body>
</html>
