<!doctype html>
<html>
<head>
    <title>Friends</title>
</head>
<body>
    <h1>These are all my friends!</h1>
    {% for friend in friends: %}
    <p>First Name: {{friend['first_name']}}</p>
    <p>Last Name: {{friend['last_name']}}</p>
    <p>Occupation: {{friend['occupation']}}</p>
    <hr/>
    {% endfor %}
    <h2>Add a Friend</h2>
    <form action='/friends' method='POST'>
        <label for='first_name'>First Name: <input type='text' name='first_name' id='first_name' /></label>
        <label for='last_name'>Last Name: <input type='text' name='last_name' id='last_name' /></label>
        <label for='occupation'>Occupation: <input type='text' name='occupation' id='occupation' /></label>
        <input type='submit' value='Add' />
    </form>
</body>
</html>
